body {

    background-color: skyblue;
    background-repeat:no-repeat;
    background-size:100% 100vh;
    margin-top: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;


}

li {
    float: right;
}

li a {
    display: block;
    color: Green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}
ul a:active { 
    background-color: yellow;
}
