#p1{
width:400px;
border: 2px solid green;
padding: 5px;
margin: 10px;
background-color:skyblue;

}
h1{
width:400px;
border: 2px solid gray;
padding: 5px;
margin: 10px;
background-color:yellowgreen;
}
.one{
width:400px;
border: 2px solid gray;
padding: 5px;
margin: 10px;
background-color:yellowgreen;}
#p2{
width:400px;
border: 2px solid green;
padding: 5px;
margin: 10px;
background-color:skyblue;
}
.two{
width:400px;
border: 2px solid gray;
padding: 5px;
margin: 10px;
background-color:yellowgreen;
}
#p3{
width:400px;
border: 2px solid green;
padding: 5px;
margin: 10px;
background-color:skyblue;
}

body {
    background-image: url("bg2_1.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: Green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}